include LICENCE.md README.md THIRD-PARTY.md
recursive-include examples *.py *.txt
recursive-include foxglove *.json
recursive-include ros2 *.py *.cfg *.xml *.msg CMakeLists.txt ceres_bridge_ros
recursive-include src/ceres_bridge/data *.json *.glb *.urdf *.txt
